@mixin title-text(
  $light-color-text: #fff,
  $font-family: DynaPuff,
  $font-size: 80px,
  $font-style: normal,
  $font-weight: 700,
  $line-height: normal
) 
{
  color: $light-color-text;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}
@mixin manrope-text(
  $light-color-text: #fff,
  $font-family: Manrope,
  $font-size: 16px,
  $font-style: normal,
  $font-weight: 700,
  $line-height: normal
)
{
  color: $light-color-text;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}