$light-color-text: #fff;
$yellow-color-text: #faeb49;
$dark-background: #202020;
$gray-background: #3C3C3C;
$card-light-color:#FFFEF2;
$grey-ellipse-color: #737373;
$yellow-background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$gray-color-title: #565656;
$dark-color-text: #000;
$border-radius: 24px;