.container {
    padding-left: 195px;
    padding-right: 195px;
    @media (max-width: 1200px)
  {
    padding-left: 34px;
    padding-right: 31px;
  }
  @media (max-width: 768px)
  {
    padding-left: 17px;
    padding-right: 16px;
  }
}