.foot-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 78px;
  background-color: $dark-background;
}
.foot-button {
  width: 764px;
  position: relative;
  text-align: start;
  border-radius: 139px;
  border: 1px solid var(--Gray-6, #f2f2f2);
  padding: 42px 137px;
  background-color: $dark-background;
  margin: 0 auto 163px;
  @media (max-width: 768px) {
    width: 390px;
  }
  @media (max-width: 430px) {
    width: 288px;
    height: 45px;
  }
}
.foot-button::before {
  content: url(../../images/footer/Dawn.svg);
  position: absolute;
  top: 55px;
  left: 65px;
  @media (max-width: 768px) {
    top: 35px;
    left: 65px;
  }
  @media (max-width: 430px) {
    top: 17px;
    left: 15px;
  }
}
.button-text {
  @include title-text($font-size: 48px);
  @media (max-width: 768px) {
    width: 203px;
    font-size: 20px;
  }
}
.button-decription {
  @include manrope-text($font-size: 24px, $font-weight: 500);
  @media (max-width: 768px) {
    font-size: 15px;
    width: 170px;
  }
}
.button-text,
.button-decription {
    @media (max-width: 430px) {
        position: relative;
        top: -22px;
        left: -60px;
      }
}
.button-decription::after {
  content: url(../../images/footer/Group_2.svg);
  padding-left: 24px;
  @media (max-width: 768px) {
    position: relative;
    top: 5px;
  }
}
.footer-social-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  padding-bottom: 21px;
}
.foot-text {
  @include manrope-text($font-size: 16px, $font-weight: 500);
  padding-bottom: 30px;
}
