.header-container {
  background: $yellow-background;
}
.logo-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  @media (max-width: 1200px) {
    padding-top: 38px;
    }
  }
.tablet-menu {
  display: none;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 20px;
  @media (max-width: 1200px) {
    display: block;
  }
}
.header-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  @media (max-width: 1200px) {
    display: none;
  }
}
.list-item {
  @include manrope-text;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid $light-color-text;
  margin: 7px 0;
}
.list-img {
  margin-right: 12px;
}
.title {
  @include title-text;
}
.header__title {
  padding-top: 491px;
  width: 846px;
  padding-bottom: 119px;
  @media (max-width: 900px) {
    width: 521px;
    font-size: 80px;
  }
  @media (max-width: 768px) {
    width: 326px;
    font-size: 48px;
  }
}
