.graphics-container {
  background-color: $dark-background;
  padding-top: 82px;
  padding-bottom: 138px;
  @media (max-width: 1200px) {
    padding-bottom: 129px;
  }
}
.graphics-container {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.graphics-card {
   padding-top: 38px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 26px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "link-1 link-1"
    "link-2 link-3";
  @media (max-width: 1000px) {
    width: 786px;
  }
  @media (max-width: 860px) {
    width: 600px;
  }
  @media (max-width: 768px) {
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}
.graphics-link {
  position: relative;
  &--link-1 {
    grid-area: link-1;
  }
  &--link-2 {
    grid-area: link-2;
  }
  &--link-3 {
    grid-area: link-3;
  }
}
.graphics-link-1::after {
  content: url(../../../images/graphics/Soft_Star.svg);
  position: absolute;
  top: 120px;
  left: 42%;  
  @media (max-width: 1200px) {
    left: 365px;
  }
  @media (max-width: 1000px) {
    left: 305px;
  }
  @media (max-width: 860px) {
    left: 215px;
  }
  @media (max-width: 768px) {
    left: 75px;
  }
}
.graphics-link-2::after {
  position: absolute;
  top: 130px;
  left: 37%;
  content: url(../../../images/graphics/Butterfly.svg);
  @media (max-width: 1200px) {
    left: 155px;
  }
  @media (max-width: 1000px) {
    left: 125px;
  }
  @media (max-width: 860px) {
    left: 80px;
  }
  @media (max-width: 768px) {
    left: 93px;
  }
}
.graphics-link-3::after {
  position: absolute;
  top: 130px;
  left: 37%;
  content: url("../../../images/graphics/Asterisk_1.svg");
  @media (max-width: 1000px) {
    left: 125px;
  }
  @media (max-width: 860px) {
    left: 80px;
  }
  @media (max-width: 768px) {
    left: 93px;
  }
}
.graphics-item {
  border-radius: 100px;
  width: 100%
  // &--img-1 {
  //   width: 977px;
  //   @media (max-width: 1200px) {
  //     width: 840px;
  //   }
  //   @media (max-width: 1000px) {
  //     width: 700px;
  //   }
  // }
  // &--img-2 {
  //   width: 447px;
  //   @media (max-width: 1200px) {
  //     width: 398px;
  //   }
  //   @media (max-width: 1000px) {
  //     width: 200px;
  //   }
  // }
  // &--img-3 {
  //   width: 447px;
  //   @media (max-width: 1200px) {
  //     width: 398px;
  //   }
  //   @media (max-width: 1000px) {
  //     width: 200px;
  //   }
  // }
}
