.project-container {
  background-color: $gray-background;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 63px;
  column-gap: 40px;
  grid-template-areas:
    "item1 item1 item1"
    "item2 item3 item4";
  padding-top: 86px;
  padding-bottom: 86px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "item1 item1"
      "item2 item3";
    padding-top: 52px;
    padding-bottom: 122px;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    row-gap: 63px;
  }
}
.card {
  border-radius: $border-radius;
  background-color: $card-light-color;
}
.card-image {
  width: 100%;
  border-radius: 13px;
}
.progect-card {
   &--item-1 {
    grid-area: item1;
  }
  &--item-2 {
    grid-area: item2;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &--item-3 {
    grid-area: item3;
  }
  &--item-4 {
    grid-area: item4;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.card-container {
  padding: 24px 20px;
  display: block;
}
.card-title {
  padding-top: 20px;
  @include title-text($light-color-text: $gray-color-title, $font-size: 32px);
  &--size {
    $font-size: 40px;
    $font-weight: 600;
  }
}
.card-description {
  @include manrope-text($light-color-text: $dark-color-text);
  padding-top: 22px;
  &--font-size {
    $font-size: 500;
  }
}
