.slogan-container {
  background-image: url(../../../images/slogan/slogan-background.png);
}
.slogan-title {
  width: 1006px;
  text-align: center;
  font-size: 48px;
  padding-top: 303px;
  padding-bottom: 323px;
  @media (max-width: 1200px) {
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 274px;
    padding-bottom: 294px;
  }
  @media (max-width: 768px) {
    width: 580px;
    font-size: 24px;
    padding-top: 180px;
    padding-bottom: 173px;
  }
  @media (max-width: 610px) {
    width: 288px;
  }
}
