.statistic-container {
  position: relative;
  background-color: $dark-background;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.statistic-title {
  @include title-text($font-size: 48px, $light-color-text: $yellow-color-text);
  padding-top: 97px;
  @media (max-width: 768px) {
    padding-top: 72px;
    font-size: 36px;
    width: 342px;
  }
}
.subtitle {
  @include manrope-text($font-weight: 500);
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
.section__subtitle {
  width: 524px;
  @media (max-width: 768px) {
    width: 342px;
  }
}
.statistic {
  display: flex;
  flex-direction: row;
  column-gap: 96px;
  padding-bottom: 102px;
  @media (max-width: 768px) {
    padding-bottom: 76px;
    gap: 43px;
  }
}
.statistic-number {
  @include title-text($font-size: 48px);
  @media (max-width: 768px) {
    font-size: 36px;
  }
}
.statistic-text {
  @include manrope-text($font-weight: 700);
  @media (max-width: 768px) {
    width: 76px;
    font-size: 16px;
  }
}
.statistic-img {
  &--first-img {
    position: absolute;
    right: 0;
    top: 25px;
  }
  &--second-img {
    position: absolute;
    right: 0;
    top: 25px;
  }
  @media (max-width: 1200px) {
    width: 300px;
  }
  @media (max-width: 840px) {
    width: 200px;
  }
}
